table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.datatable {
    width: 98%;
    margin-top: 10px;
    margin-left: 1%;
}

.table-header {
    font-size: 30px;
    margin-left: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
}