#login {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.logo {
    margin-top: 100px;
    .logo-img {
        width: 300px;
    }
}
.fields-group {
    width: 350px;
}

.remember {
    padding-bottom: 10px;
    display: block !important;
}

.submit-button {
    width: 200px; 
    margin: 10px;
}